ACTION=="add", ATTRS{idProduct}=="c21c", ATTRS{idVendor}=="046d", ATTRS{product}=="G13" \
       RUN+="/bin/bash -c \"echo %p | sed -r 's/.*(....:....:....\.....).*/\1/g' > /sys/bus/hid/drivers/hid-generic/unbind\"" \
       RUN+="/bin/bash -c \"echo %p | sed -r 's/.*(....:....:....\.....).*/\1/g' > /sys/bus/hid/drivers/G13/bind\""
